/.gitignore.bak
*.zip
/C++/build
/C++/**/Debug/
/C++/**/x64/
/C++/.vs
/C++/**/*.user
/C++/SentinelGodot/.sconsign.dblite
/C#/**/.vs
/C#/**/bin/
/C#/**/obj/
/godot/Export
/.vs
/Assets
/SourceData
C++/SentinelGodot/demo/bin/libgdsentinel*.*
godot/SentinelChess/bin/libgdsentinel*.*
C++/SentinelGodot/vc140.pdb
C++/SentinelGodot/vc140.pdb
godot/SentinelChess/bin/vc140.pdb

